body{
    background-color: #0D0D0D;
    color: #f9f6f6 !important;
    overflow: hidden;
}

.nav-tab{
    background-color: #0D0D0D;
}

.logo{
    width: 50px;
}

i,li{
    cursor: pointer;
}


.meal-layer{
    width: 92%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;

}

.meal:hover .meal-layer{
    top: 0;
}

.side-nav-menu{
    z-index: 999;
}

.cursor-pointer{
    cursor: pointer;
}

.alert{
    width: fit-content;
}

.loading-screen{
    z-index: 99;
    display: flex;
}

.inner-loading-screen{
    position: absolute;
    z-index: 9;
    background-color: #0D0D0D;
    display: flex;
}


.textHover {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all .5s;
}
.item:hover .textHover {
    opacity: 1;
 }




















































/* #searchRow {
    display: none;  
}
#categoryRow{
    display: none;
}
#areaRow{
 display: none;
}
#IngredientsRow{ 
    display: none;
}
.Nav{
    z-index: 99;
}
.gear i {
    cursor: pointer;
}
.navBox {
    display: none;
}
#inputs{
    display:none;
}
.item {
    position: relative;
}


 .item:hover .textHover {
    opacity: 1;
 }
.cat-item{
    cursor: pointer;
} */



















